{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "commonjs": true
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "strict": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
